# PART1 データを読み込んでみよう
## おまじない
- まずおまじないを書くために、このセルの下に新しいセルを作ろう

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

## データの読み込み
- データを読み込む前にcase1の中にあるtrain.csvをメモ帳で開いて確かめてみましょう（excelで開くと文字化けします）
- 拡張子のcsvとはカンマで区切られたデータのことです
- 通常、列の頭には列行の内容を示す名前がついています（ない場合もあります）

In [3]:
train = pd.read_csv("train.csv")

## 早速trainのデータの中身を見てみましょう
- head関数を使います
- 関数は必ずカッコが必要になります

In [4]:
train.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
1,2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
2,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
3,2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
4,2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1

## headは先頭行を表示するが、最終行が見たい場合は・・・

In [5]:
train.tail()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
202,2014-9-24,59,水,1,白身魚のマスタード焼き,408.0,NaN,NaN,NaN,曇,0,24.8
203,2014-9-25,50,木,0,牛カルビ焼き肉,394.0,NaN,NaN,NaN,曇,0,25.4
204,2014-9-26,45,金,0,ランチビュッフェ,NaN,スペシャルメニュー（800円）,キャリアアップ支援セミナー,NaN,晴れ,--,27.1
205,2014-9-29,56,月,1,豚肉と玉子の炒め,404.0,NaN,NaN,NaN,快晴,--,26.6
206,2014-9-30,40,火,0,鶏肉とカシューナッツ炒め,398.0,NaN,NaN,NaN,快晴,--,28.1

## 行数と列数を確認したい場合はshapeを使います
- shapeは関数ではないのでカッコはいりません

In [6]:
train.shape

(207, 12)

# 実習

1.test.csvの変数名をtestとして、sample.csvの変数名をsampleとして読み込んでみよう
- ファイル名を書く時はダブルクォーテーションを忘れないようにしよう

In [8]:
test = pd.read_csv('test.csv')
sample = pd.read_csv('sample.csv')

2.testは何行何列ありますか？

In [11]:
test.shape

(40, 11)

3.testの3行目のメニューはなんでしょう？

In [14]:
test.head(3)

,datetime,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2014-10-1,水,1,メンチカツ,420.0,NaN,NaN,NaN,雨,0,20.2
1,2014-10-2,木,0,バーベキューチキン,415.0,NaN,NaN,NaN,曇,--,23.9
2,2014-10-3,金,0,豚肉のマスタード焼き,405.0,NaN,NaN,NaN,晴れ,--,28.7

4.testの10行目まで見たい。どうしたらいいか考えてみよう

In [15]:
test.head(10)

,datetime,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2014-10-1,水,1,メンチカツ,420.0,NaN,NaN,NaN,雨,0,20.2
1,2014-10-2,木,0,バーベキューチキン,415.0,NaN,NaN,NaN,曇,--,23.9
2,2014-10-3,金,0,豚肉のマスタード焼き,405.0,NaN,NaN,NaN,晴れ,--,28.7
3,2014-10-6,月,1,麻婆春雨,400.0,NaN,NaN,NaN,雨,0.5,21.5
4,2014-10-7,火,0,厚揚げ肉みそ炒め,430.0,NaN,NaN,NaN,晴れ,--,22.1
5,2014-10-8,水,0,完熟トマトのホットカレー,420.0,NaN,NaN,NaN,晴れ,--,23.3
6,2014-10-9,木,0,豚キムチ炒め,435.0,NaN,キャリアアップ支援セミナー,NaN,曇,--,22.5
7,2014-10-10,金,0,ポークカレー,NaN,お楽しみメニュー,NaN,1.0,薄曇,--,26.1
8,2014-10-14,火,0,若鶏梅肉包揚げ,408.0,NaN,NaN,NaN,快晴,--,26.8
9,2014-10-15,水,1,ミックスグリル,450.0,料理長のこだわりメニュー,NaN,NaN,雨,1.5,15.6

5.sampleはこのままではちょっとおかしい部分がある。どこがおかしいか？

In [19]:
sample.head(39)

     2014-10-1  24
0    2014-10-2  71
1    2014-10-3  25
2    2014-10-6  32
3    2014-10-7  60
4    2014-10-8  44
5    2014-10-9  64
6   2014-10-10  33
7   2014-10-14  67
8   2014-10-15  28
9   2014-10-16  90
10  2014-10-17  73
11  2014-10-20   9
12  2014-10-21  76
13  2014-10-22   1
14  2014-10-23  99
15  2014-10-24  73
16  2014-10-27  60
17  2014-10-28  99
18  2014-10-29  69
19  2014-10-30  68
20  2014-10-31  35
21   2014-11-4   2
22   2014-11-5  24
23   2014-11-6  10
24   2014-11-7  16
25  2014-11-10  43
26  2014-11-11  20
27  2014-11-12  88
28  2014-11-13  18
29  2014-11-14  63
30  2014-11-17  23
31  2014-11-18  55
32  2014-11-19  83
33  2014-11-20  87
34  2014-11-21  55
35  2014-11-25  47
36  2014-11-26  60
37  2014-11-27  80
38  2014-11-28  77

In [20]:
sample = pd.read_csv('sample.csv', header=None)

In [21]:
sample.head(10)

            0   1
0   2014-10-1  24
1   2014-10-2  71
2   2014-10-3  25
3   2014-10-6  32
4   2014-10-7  60
5   2014-10-8  44
6   2014-10-9  64
7  2014-10-10  33
8  2014-10-14  67
9  2014-10-15  28