# Python基礎（１）
---

## 電卓としてのPython

In [10]:
# 例題1-1
2**4

16

In [11]:
# 例題1-2
print(2 + 7)
print('hello world!')

9
hello world!

In [12]:
# 例題1-3
print('10を3で割った時の商は', 10 // 3)
print('余りは', 10 % 3)
print(10 / 3)

10を3で割った時の商は 3
余りは 1
3.3333333333333335

In [13]:
# 問題1-1
print('hello world')
print(4+4*5)

hello world
24

In [14]:
# 問題1-2
print(11211,12121,21112)

11211 12121 21112

In [15]:
# 問題1-3
print(2**10,5**100)

1024 7888609052210118054117285652827862296732064351090230047702789306640625

In [16]:
# 問題1-4
a = (33 + 44) *55
b = 2.1 + 4.3 + 6.5
c = (128 + 456) % 78

print(f'(33 + 44) * 55 = {a}',f'2.1 + 4.3 + 6.5 = {b}', f'(128 + 456) % 78 = {c}')

(33 + 44) * 55 = 4235 2.1 + 4.3 + 6.5 = 12.9 (128 + 456) % 78 = 38

In [17]:
# 問題1-5
print(1 + 2 + 3 + 4 + 5)
print(1 * 3 * 5 * 7 * 9)
print(98 * 3 + 48 * 4 + 188 + (208 - 50) * 5)

15
945
1464

## 変数と計算

In [18]:
# 例題2-1
x = 123 * 45
print(x)

5535

In [19]:
# 例題2-2
y = 99.9
x = 50
print(y * 10, x * 10)

999.0 500

In [20]:
# 例題2-3
x = 10
y = 10
# print(x,y)
x = y + 10
y = 20
# print(x,y)
x = x -10
y = y -x
# print(x,y)

In [21]:
# 例題2-3
x = 10
y = 10
print(x,y)
x = y + 10
y = 20
print(x,y)
x = x -10
y = y -x
print(x,y)

10 10
20 20
10 10

In [22]:
# 問題2-1
print(x)
x = 55 + 29

10

In [23]:
# 問題2-2
x =30
y = 5
print(x,y)

30 5

## 入力関数input

In [24]:
# 例題3-1
x = int(input('何か整数を入力してね'))
print(x**100)

何か整数を入力してね 1

1

In [25]:
# 例題3-2
first = input('苗字を入力してね')
given = input('名前を入力してね')
print(first,given)

苗字を入力してね yanai
名前を入力してね tatsuya

yanai tatsuya

In [27]:
int_number = 1
string_number = '2'
str(int_number) + string_number

'12'

In [31]:
# 問題3-1
y = float(input('integer=?'))
print(type(y))
print(y)

integer=? 1

<class 'float'>
1.0

In [35]:
# 問題3-2
x = int(input('整数を入力:'))
y = int(input('整数を入力:'))
z = int(input('整数を入力:'))
print(x + y + z)

整数を入力: 1
整数を入力: 1
整数を入力: 1

3

In [36]:
x = float(input('浮動小数点数を入力==>'))
y = float(input('浮動小数点数を入力==>'))
print( x + y)

浮動小数点数を入力==> 1
浮動小数点数を入力==> 2

3.0

In [37]:
x = int(input('整数を入力せよ:'))
y = int(input('整数を入力せよ:'))

print(x * y)

整数を入力せよ: 2
整数を入力せよ: 3

6

In [49]:
# 問題3-3__作成途中

# 変数宣言
debt_all = int(input('借入金額を入力せよ==>'))
debt_month = int(input('月々返済する金額を入力せよ==>'))

# 返済期間算出 
clear_month = (debt_all / debt_month) / 12
print('返済年数:',clear_month,'年')

# 
bonus = int(input('ボーナス'))
bonus_score = bonus * clear_month
print(f'期間中ボーナス支払金額{bonus_score}')

借入金額を入力せよ==> 500
月々返済する金額を入力せよ==> 10

返済年数: 4.166666666666667 年

ボーナス 20

期間中ボーナス金額83.33333333333334

In [58]:
# 問題3-4
x = int(input('整数を入力せよ①==>'))
y = int(input('整数を入力せよ②==>'))
print(type(x),type(y))
print(x,y)

a = float(input('浮動小数点数を入力せよ①==>'))
b = float(input('浮動小数点数を入力せよ②==>'))
print(type(a),type(b))
print(a,b)

整数を入力せよ①==> 1
整数を入力せよ②==> 1

<class 'int'> <class 'int'>
1 1

浮動小数点数を入力せよ①==> 2
浮動小数点数を入力せよ②==> 3

<class 'float'> <class 'float'>
2.0 3.0

In [64]:
a = int(input('整数を入力せよ==>'))
b = int(input('整数を入力せよ==>'))
c = int(input('整数を入力せよ==>'))
d = int(input('整数を入力せよ==>'))

total = a + b + c +d
print(int(total))

整数を入力せよ==> 100
整数を入力せよ==> 2324
整数を入力せよ==> 321
整数を入力せよ==> 999

3744

In [67]:
x = int(input('整数を入力せよ==>'))
y = int(input('整数を入力せよ==>'))
product_a = x * y
print(product_a)

a = int(input('整数を入力せよ==>'))
b = int(input('整数を入力せよ==>'))
product_b = a * b
print(product_b)

total = (product_a + product_b)
print(f'合計金額は{total}です')

整数を入力せよ==> 2
整数を入力せよ==> 3

6

整数を入力せよ==> 2
整数を入力せよ==> 3

6
合計金額は12です

In [70]:
# 問題3-7
x = int(input('整数を入力==>'))
y = int(input('整数を入力==>'))

total_a = x + y
total_b = x * y
print(f'和={total_a}')
print(f'積={total_b}')

整数を入力==> 100
整数を入力==> 245

和=345
積=24500

## if文（条件分岐）

$$x^2 - 6x + 1 = 0$$

In [1]:
# 例題4-1
if 0 < 10:
    print('OK')

OK

In [6]:
# 例題4-2
x = int(input('Please enter an integer:'))
if x + 25000 == 3500 * 9:
    print('OK')
else:
    print('BOO')

Please enter an integer: 12

BOO

In [3]:
3500 * 9

31500

In [4]:
31500 - 25000

6500

In [17]:
## 例題4-3
x = int(input('Please enter an integer:'))
if x > 0:
    print('positive')
    if x >= 100:
        print('100以上')
    else:
        print('100未満')
elif x == 0:
    print('zero')
else:
    print('negative')

Please enter an integer: 1

positive
100未満

In [18]:
x == 1 or y != 6

True

In [19]:
not (x < 4) and y < 6

False

In [22]:
# 例題4-4
x = int(input('数を入力してください'))

if x < 0 or x >= 100:
    print('範囲外')
else:
    print('OK')

数を入力してください 2

OK

In [23]:
!git add .

In [24]:
!git commit -m'[add:20230923]

/usr/bin/sh: 1: Syntax error: Unterminated quoted string

In [21]:
# 問題4-1
x = int(input('数を入力せよ'))

if x == 0:
    print('zero')
elif x >= 100:
    print('OK')
elif x > 0:
    print('positive')

数を入力せよ 2

positive

In [13]:
x = int(input('整数を入力せよ'))

if x >= 10:
    print('10以上です')
    
else:
    if x == 1:
        print('1です')
    elif x == 2:
        print('2です')
    else:
        print('etc')

整数を入力せよ 1

1です

In [17]:
x = int(input('Please enter an integer:'))
if x < 0:
    print('negatieve')
elif x == 0:
    print('zero')
else:
    print('positeve')
    if x >= 100:
        print('100以上')
    else:
        print('100未満')

Please enter an integer: 100

positeve
100以上

In [36]:
# 問題4-3
x = int(input('Please enter x:'))
y = int(input('Please enter y:'))

if y <= x:
    print(f'x - y = {x - y}')
else:
    print('負になります')

Please enter x: 500
Please enter y: 20

x - y = 480

In [44]:
# 問題4-4
x = int(input('Please Enter:'))

if x == 1:
    print("'(>_<)'")
elif x == 2:
    print('⌒▽⌒')
elif x ==3:
    print('^ - ^')
else:
    print('')

Please Enter: 1

'(>_<)'

In [61]:
# 問題4-5
x = int(input('Please enter:'))

if x % 2 ==0:
    print('Even')
elif x % 2 == 1:
    print('Odd')

Please enter: 5439

Odd

In [67]:
# 問題4-6
x = int(input('Please enter:'))

if x >= 10 and x <= 20:
        print('OK')

Please enter: 13

OK

In [79]:
# 問題4-7
x = '^_^'
y = 'Σ(^ - ^)'
yy = '( ^ω^ )'

z = int(input('Please Enter:'))

if z >= 10 and z <= 20:
    print(x)
elif z >= 50 and z <= 60:
    print(y)
else:
    print(yy)

Please Enter: 1

( ^ω^ )

In [81]:
# 問題4-8
x = int(input('Please enter:'))

if x > 0:
    print(x)
else:
    y = int(input('Please enter:'))
    z = x * y
    print(z)

Please enter: -1
Please enter: 2

-2

## while,forによる反復文

In [84]:
# 例題5-1
x = int(input('Please enter:'))

while x > 0:
    print(x)
    x = x -1

Please enter: 5

5
4
3
2
1

In [89]:
# 例題5-2
x = int(input('Please enter:'))

while True:
    print(x**2)
    x = x -1
    if x <= 0:
        break

Please enter: 10

100
81
64
49
36
25
16
9
4
1

In [90]:
# 例題5-3
for x in range(1,10,2):
    print(x**2)

1
9
25
49
81

In [91]:
# 例題5-4
for x in range(10,0,-1):
    print(x**2)

100
81
64
49
36
25
16
9
4
1

In [92]:
!speedtest

Retrieving speedtest.net configuration...
Testing from NTT (219.162.79.170)...
Retrieving speedtest.net server list...
Selecting best server based on ping...
Hosted by SoftEther Corporation (Tsukuba) [247.86 km]: 89.224 ms
Testing download speed................................................................................
Download: 150.98 Mbit/s
Testing upload speed......................................................................................................
Upload: 284.63 Mbit/s

In [93]:
!speedtest

Retrieving speedtest.net configuration...
Testing from NTT Docomo (49.98.10.204)...
Retrieving speedtest.net server list...
Selecting best server based on ping...
Hosted by Rakuten Mobile, Inc (Tokyo) [257.79 km]: 72.386 ms
Testing download speed................................................................................
Download: 24.49 Mbit/s
Testing upload speed......................................................................................................
Upload: 1.25 Mbit/s

In [96]:
# 例題5-5
for x in range(1,6):
    for y in range(8,17):
        print( x + y , end=' ')
    print(' ')

9 10 11 12 13 14 15 16 17
10 11 12 13 14 15 16 17 18
11 12 13 14 15 16 17 18 19
12 13 14 15 16 17 18 19 20
13 14 15 16 17 18 19 20 21

In [99]:
# 問題5-1 (1)

x = int(input('Please enter:'))

for y in range(1,4):
    print(x)

Please enter: 5

5
5
5

In [102]:
# 問題5-1 (2)

x = int(input('Please enter:'))
y = int(input('Please enter:'))

for z in range(1,4):
    print(x + y)

Please enter: 2
Please enter: 5

7
7
7

In [2]:
# 問題5-1 (3)

x = int(input('Please enter prise:'))
y = x * 1.08
z = int(y)

for x in range(1,4):
    print(z)

Please enter prise: 2500

2700
2700
2700

In [1]:
# 例題5-1
x = 5
while x > 0:
    print(x)
    x = x -1

5
4
3
2
1

In [1]:
# 例題5-2
x = 10
while True:
    print(x**2)
    x = x -1
    if x <= 0:
        break

100
81
64
49
36
25
16
9
4
1

In [6]:
# 例題5-3
for x in range(1, 10, 2):
    print(x**2)

1
9
25
49
81

In [7]:
# 例題5-4
for x in range(10, 0, -1):
    print(x**2)

100
81
64
49
36
25
16
9
4
1

In [8]:
for x in range(1, 6):
    for y in range(8, 17):
        print(x + y, end=' ')
    print()

9 10 11 12 13 14 15 16 17
10 11 12 13 14 15 16 17 18
11 12 13 14 15 16 17 18 19
12 13 14 15 16 17 18 19 20
13 14 15 16 17 18 19 20 21

In [13]:
# 問題5-1 (1)
x = int(input('Please Enter:'))

for i in range(4,1,-1):
    print(x)

Please Enter: 6

6
6
6

In [2]:
# 例題5-1
x = 10
while x > 0:
    print(x)
    x = x - 1

10
9
8
7
6
5
4
3
2
1

In [3]:
# 例題5-2
x = 10
while True:
    print(x**2)
    x = x -1
    if x <= 0:
        break

100
81
64
49
36
25
16
9
4
1

In [4]:
# 例題5-3
for x in range(1, 10, 2):
    print(x**2)

1
9
25
49
81

In [5]:
# 例題5-4
for x in range(10, 0, -1):
    print(x**2)

100
81
64
49
36
25
16
9
4
1

In [9]:
# 例題5-5
for x in range(1,6):
    for y in range(8,17):
        print(x+y, end=' ')
    print(' ')

9 10 11 12 13 14 15 16 17
10 11 12 13 14 15 16 17 18
11 12 13 14 15 16 17 18 19
12 13 14 15 16 17 18 19 20
13 14 15 16 17 18 19 20 21

In [10]:
for x in range(1, 6):
    for y in range(8, 17):
        print(x + y, end=' ')
    print()

9 10 11 12 13 14 15 16 17
10 11 12 13 14 15 16 17 18
11 12 13 14 15 16 17 18 19
12 13 14 15 16 17 18 19 20
13 14 15 16 17 18 19 20 21

In [11]:
x = int(input('Please Enter:'))

for i in range(1, 4):
    print(x)

Please Enter: 2

2
2
2

In [12]:
x = int(input('Please Enter:'))
y = int(input('Please Enter:'))

for i in range(1,4):
    print(x + y)

Please Enter: 1
Please Enter: 2

3
3
3

In [13]:
age = 19
age < 21

True

In [14]:
age <= 21

True

In [15]:
age > 21

False

In [16]:
age >= 21

False

In [17]:
age_0 = 22
age_1 = 18
age_0 >= 21 and age_1 >= 21

False

In [18]:
age_1 =22
age_0 >= 21 and age_1 >= 21

True

In [19]:
age_0 = 22
age_1 = 10
age_0 >= 21 or age_1 >= 21

True

In [20]:
age_0 = 10
age_0 >= 21 or age_1 >= 21

False

In [21]:
requested_toppings = ['マッシュルーム', 'オニオン', 'パイナップル']
'マッシュルーム' in requested_toppings

True

In [22]:
'ペパロニ' in requested_toppings

False

In [28]:
banned_users = ['andrew', 'carolina', 'david']
user = input('Your Name?')

if user not in banned_users:
    print(f'{user.title()}はコメントを書き込めます。')
else:
    print('your accont banned!')

Your Name? yan

Yanはコメントを書き込めます。

In [30]:
# 5-1.条件テスト
car = 'subaru'
print("car == 'subaru'の結果をTrueと予測します。")
print(car == 'subaru')

print("\ncar == 'audi'の結果をFalseと予測します。")
print(car == 'audi')

car == 'subaru'の結果をTrueと予測します。
True

car == 'audi'の結果をFalseと予測します。
False

In [31]:
age = 19
if age >= 18:
    print('選挙権がある年齢です。')

選挙権がある年齢です。

In [34]:
age = int(input('how old are you?'))
if age > 18:
    print('選挙権がある年齢です！')
    print('投票はしましたか？')

how old are you? 19

選挙権がある年齢です！
投票はしましたか？

In [36]:
age = int(input('how old are you?'))
if age >= 18:
    print('選挙権がある年齢です！')
    print('投票はしましたか？')
else:
    print('申し訳ありません、投票するには若すぎるようです。')
    print('18歳になったら投票してください。')

how old are you? 17

申し訳ありません、投票するには若すぎるようです。
18歳になったら投票してください。

In [40]:
age = int(input('how old are you?'))
if age < 4:
    print('入場料は無料です。')
elif age < 18:
    print('入場料金は2500円です。')
else:
    print('入場料金は4000円です。')

how old are you? 17

入場料金は2500円です。

In [41]:
x = int(input('please enter:'))

for i in range(1,4):
    print(x)

please enter: 3

3
3
3

In [42]:
x = int(input('please enter:'))
y = int(input('please enter:'))

for i in range(1,4):
    print(x + y)

please enter: 1
please enter: 2

3
3
3

In [58]:
import math

x = int(input('input price:'))
y = x*1.08

if y == 0:
    print()
elif y <= 0:
    print()
else:
    for i in range(1,4):
        print(math.floor(y))

input price: 1000

1080
1080
1080

In [62]:
x = int(input('please enter:'))

for i in range(1,3):
    if x % 7 == 0:
        print('7の倍数です。')
    else:
        print('7の倍数ではありません。')

please enter: 14

7の倍数です。
7の倍数です。

In [64]:
x = int(input('please enter:'))

for i in range(1,3):
    if x % 3 == 0:
        print('3の倍数です。')
    else:
        print('3の倍数ではありません。')

please enter: 2

3の倍数ではありません。
3の倍数ではありません。

In [71]:
x = int(input('please enter:'))

for i in range(1,3):
    if x < 0:
        print('負の数です。')
    else:
        print('負ではありません。')

please enter: 2

負ではありません。
負ではありません。

In [73]:
x = 'hello!'

for i in range(20):
    print(x)

hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!

In [85]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [92]:
for i in range(0,101,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [95]:
for i in range(1,10):
    for x in range(1,10):
        print(i*x, end = ' ')

1 2 3 4 5 6 7 8 9 2 4 6 8 10 12 14 16 18 3 6 9 12 15 18 21 24 27 4 8 12 16 20 24 28 32 36 5 10 15 20 25 30 35 40 45 6 12 18 24 30 36 42 48 54 7 14 21 28 35 42 49 56 63 8 16 24 32 40 48 56 64 72 9 18 27 36 45 54 63 72 81

In [105]:
x = '#'

for i in range(1,10):
    print(x, end=' ')
    
for y in range(1,9):
    print(f'\n{x}, end=" "')

# # # # # # # # #
#, end=" "

#, end=" "

#, end=" "

#, end=" "

#, end=" "

#, end=" "

#, end=" "

#, end=" "

In [106]:
# このプログラムは指定の三角形を表示する

rows = 6  # 三角形の行数

# 行をループで処理
for i in range(1, rows + 1):
    # 空白を出力
    for j in range(1, i):
        print(" ", end="")

    # # を出力
    for k in range(1, (rows - i) * 2 + 2):
        print("#", end="")

    # 改行
    print()

###########
 #########
  #######
   #####
    ###
     #

In [108]:
import random

# 1から100までのランダムな整数を生成
target_number = random.randint(1, 100)

# ユーザーにゲームの説明を表示
print("1から100までの整数を当ててください。")

# メインのゲームループ
guesses = 0
while True:
    try:
        # ユーザーから整数を入力
        user_guess = int(input("整数を入力してください: "))

        # ユーザーの予想が正解かどうかを確認
        if user_guess == target_number:
            print(f"おめでとう！正解です。{guesses}回目で当てました。")
            break
        elif user_guess < target_number:
            print("もっと大きな数を予想してください。")
        else:
            print("もっと小さな数を予想してください.")
        
        guesses += 1
    except ValueError:
        print("整数を入力してください。")

print("ゲーム終了。")

1から100までの整数を当ててください。

整数を入力してください:  10

もっと大きな数を予想してください。

整数を入力してください:  30

もっと大きな数を予想してください。

整数を入力してください:  60

もっと大きな数を予想してください。

整数を入力してください:  80

もっと小さな数を予想してください.

整数を入力してください:  70

もっと大きな数を予想してください。

整数を入力してください:  75

もっと小さな数を予想してください.

整数を入力してください:  72

もっと大きな数を予想してください。

整数を入力してください:  73

もっと大きな数を予想してください。

整数を入力してください:  74

おめでとう！正解です。8回目で当てました。
ゲーム終了。

In [3]:
# 例題6-1(補助変数)
y = int(input('y='))
x = int(input('x='))

while y != x:
    y = x
    x = input('x=')

y= 1
x= 2
x= 2
x= 2

In [6]:
m =  -9999

for i in range(10):
    j = int(input('Please enter an integer:'))
    if m < j:
        m = j
print(m)

Please enter an integer: 2
Please enter an integer: 2
Please enter an integer: 2
Please enter an integer: 2
Please enter an integer: 2
Please enter an integer: 2
Please enter an integer: 2
Please enter an integer: 2
Please enter an integer: 3
Please enter an integer: 4

4

In [7]:
c = 0
for i in range(10):
    j = int(input('please enter an integer:'))
    if j >= 10:
        c = c + 1
print(c)

please enter an integer: 10
please enter an integer: 2
please enter an integer: 3
please enter an integer: 4
please enter an integer: 5
please enter an integer: 10
please enter an integer: 2
please enter an integer: 3
please enter an integer: 10
please enter an integer: 11

4

In [9]:
f = 0
for i in range(5):
    j = int(input('please enter an integer:'))
    if j == 5 :
        f = 1
if f == 1 :
    print('5があった')

please enter an integer: 5
please enter an integer: 5
please enter an integer: 5
please enter an integer: 5
please enter an integer: 5

5があった

In [15]:
for i in range(5):
    j = int(input('please enter an integer:'))
    if j == 5:
        print('5があった。')
        break
else:
    print('5がなかった')

please enter an integer: 1
please enter an integer: 1
please enter an integer: 1
please enter an integer: 2
please enter an integer: 1

5がなかった

In [16]:
for i in range(5):
    if i == 3:
        continue
    print('入力値は',i)

入力値は 0
入力値は 1
入力値は 2
入力値は 4

In [18]:
x = int(input('please enter an integer:'))

for i in range(3):
    print(x)

please enter an integer: 3

3
3
3

In [22]:
x = int(input('please enter an integer:'))
y = int(input('please enter an integer:'))

for i in range(3):
    print(x + y)

please enter an integer: 1
please enter an integer: 2

3
3
3

In [23]:
import math

In [26]:
price = int(input('please enter price:'))

for i in range(3):
    print(math.floor(price*1.08))

please enter price: 100

108
108
108

In [33]:
x = int(input('please enter an integer:'))

for i in range(10):
    if x == 0:
        print('0です')
        break
    else:
        print(x)

please enter an integer: 3

3
3
3
3
3
3
3
3
3
3

In [39]:
# 問題5-1
print('数字を入力してください。')
x = int(input('please enter an integer:'))

for i in range(3):
    if x < 0:
        print('negatieve number')
        break
    else:
        print(x)

数字を入力してください。

please enter an integer: -1

negatieve number

In [58]:
# 問題5-2
x = int(input('please enter an integer:'))

for i in range(2):
    if x  == 0:
        print('number of 0')
    elif x % 7 == 0:
        print('a multiple of 7')
    else:
        print('not a multiple of 7')

please enter an integer: 84

a multiple of 7
a multiple of 7

In [67]:
x = int(input('please enter an integer:'))

for i in range(2):
    if x < 0:
        print('it is a negatieve number!')
        break
    elif x == 0:
        print('number of 0')
        break
    else:
        print('it is a positive number!')

please enter an integer: -1

it is a negatieve number!

In [69]:
# 問題5-3
lang = 'hello!'

for i in range(20):
    print(lang)

hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!
hello!

In [78]:
# 問題5-4
x = 2

for i in range(x,11,2):
    print(i)

2
4
6
8
10

In [80]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [87]:
for i in range(2, 100, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [93]:
for i in range(1,10):
    for j in range(1,10):
        print(f'{i}*{j}={i*j}',end=' | ')

1*1=1 | 1*2=2 | 1*3=3 | 1*4=4 | 1*5=5 | 1*6=6 | 1*7=7 | 1*8=8 | 1*9=9 | 2*1=2 | 2*2=4 | 2*3=6 | 2*4=8 | 2*5=10 | 2*6=12 | 2*7=14 | 2*8=16 | 2*9=18 | 3*1=3 | 3*2=6 | 3*3=9 | 3*4=12 | 3*5=15 | 3*6=18 | 3*7=21 | 3*8=24 | 3*9=27 | 4*1=4 | 4*2=8 | 4*3=12 | 4*4=16 | 4*5=20 | 4*6=24 | 4*7=28 | 4*8=32 | 4*9=36 | 5*1=5 | 5*2=10 | 5*3=15 | 5*4=20 | 5*5=25 | 5*6=30 | 5*7=35 | 5*8=40 | 5*9=45 | 6*1=6 | 6*2=12 | 6*3=18 | 6*4=24 | 6*5=30 | 6*6=36 | 6*7=42 | 6*8=48 | 6*9=54 | 7*1=7 | 7*2=14 | 7*3=21 | 7*4=28 | 7*5=35 | 7*6=42 | 7*7=49 | 7*8=56 | 7*9=63 | 8*1=8 | 8*2=16 | 8*3=24 | 8*4=32 | 8*5=40 | 8*6=48 | 8*7=56 | 8*8=64 | 8*9=72 | 9*1=9 | 9*2=18 | 9*3=27 | 9*4=36 | 9*5=45 | 9*6=54 | 9*7=63 | 9*8=72 | 9*9=81 |

In [94]:
x = int(input('please enter an integer:'))

for i in range(1,4):
    print(x, end=' ')

please enter an integer: 3

3 3 3

In [96]:
x = int(input('please enter an integer:'))
y = int(input('please enter an integer:'))

for i in range(1,3):
    print(f'{x}+{y}={x+y}',end=' ')

please enter an integer: 3
please enter an integer: 4

3+4=7 3+4=7

In [99]:
x = int(input('please enter an integer:'))

for i in range(1,3):
    print(x, end=' ')

please enter an integer: 2

2 2

In [100]:
for x in range(1,6):
    for y in range(8,17):
        print(x + y, end=' ')
    print()

9 10 11 12 13 14 15 16 17
10 11 12 13 14 15 16 17 18
11 12 13 14 15 16 17 18 19
12 13 14 15 16 17 18 19 20
13 14 15 16 17 18 19 20 21

In [101]:
x = int(input('please enter a number.'))

print('here is the enterd nember.')
for i in range(1,4):
    print(x, end=' ')

please enter a number. 3

here is the enterd nember.
3 3 3

In [102]:
x = int(input('please enter a number.'))
y = int(input('please enter a number.'))

print('The sum of the entered numbers is as follows.')
for i in range(1,4):
    print(x + y, end=' ')

please enter a number. 3
please enter a number. 2

The sum of the entered numbers is as follows.
5 5 5

In [111]:
x = int(input('please enter a price.'))
y = int(x*1.08)

print('The inclusive price is as follows.')
for i in range(1,4):
    print(y)

please enter a price. 214

The inclusive price is as follows.
231
231
231

In [114]:
x = int(input('please enter an integer!'))

if x == 0:
    print('Input was 0.')
else:
    print('Here are the entered numbers.')
    for i in range(1,4):
        print(x)

please enter an integer! 0

Input was 0.

In [129]:
x = int(input('please enter an integer!'))

for i in range(1,3):
    if x == 0:
        print('0です。')
    elif x % 7 == 0:
        print('7の倍数です。')
    else:
        print('7の倍数ではありません。')

please enter an integer! 100

7の倍数ではありません。
7の倍数ではありません。

In [133]:
x = int(input('please enter an integer!'))

for i in range(1,3):
    if x == 0:
        print('0です。')
    elif x % 3 == 0:
        print('3の倍数です。')
    else:
        print('3の倍数ではありません。')

please enter an integer! 3

3の倍数です。
3の倍数です。

In [138]:
x = int(input('please enter an integer!'))

for i in range(1,3):
    if x == 0:
        print('0です。')
    elif x > 0:
        print('正の数です。')
    else:
        print('負の数です。')

please enter an integer! -1

負の数です。
負の数です。

In [141]:
x = 'hello!'

for i in range(1,21):
    print(x,end = ' ')

hello! hello! hello! hello! hello! hello! hello! hello! hello! hello! hello! hello! hello! hello! hello! hello! hello! hello! hello! hello!

In [144]:
for i in range(-10,11):
    print(i,end=' ')

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10

In [148]:
for i in range(2,11,2):
    print(i, end=' ')

2 4 6 8 10

In [152]:
y = int(input('y='))
x = int(input('x='))

while y != x:
    y = x
    x = input('x=')

y= 1
x= 2
x= 2
x= 2

In [155]:
m = -9999
for i in range(10):
    j = int(input('please enter an integer:'))
    if m < j:
        m = j
print(m)

pleae enter an integer: 1
pleae enter an integer: 1
pleae enter an integer: 1
pleae enter an integer: 1
pleae enter an integer: 1
pleae enter an integer: 1
pleae enter an integer: 1
pleae enter an integer: 1
pleae enter an integer: 1
pleae enter an integer: 2

2

In [156]:
c = 0
for i in range(10):
    j = int(input('please enter an integer:'))
    if j >= 10:
        c = c + 1
print(c)

please enter an integer: 1
please enter an integer: 2
please enter an integer: 1
please enter an integer: 2
please enter an integer: 10
please enter an integer: 11
please enter an integer: 11
please enter an integer: 11
please enter an integer: 11
please enter an integer: 11

6

In [158]:
f = 0
for i in range(5):
    j = int(input('please enter an integer:'))
    if j == 5:
        f = 1
if f == 1:
    print('5があった。')

please enter an integer: 5
please enter an integer: 1
please enter an integer: 2
please enter an integer: 3
please enter an integer: 2

5があった。

In [160]:
for i in range(5):
    j = int(input('please enter an integer:'))
    if j == 5:
        print('5があった。')
        break
else:
    print('5がなかった。')

please enter an integer: 5

5があった。

In [161]:
# 例題6-6(continue)
for i in range(5):
    if i == 3:
        continue
    print('入力値は',i)

入力値は 0
入力値は 1
入力値は 2
入力値は 4

In [166]:
# 問題6-1(1)
for i in range(10):
    x = int(input('please enter an integer:'))
    if y >= x*2:
        break
    else:
        y = x

please enter an integer: 2
please enter an integer: 4
please enter an integer: 6
please enter an integer: 6
please enter an integer: 15
please enter an integer: 100
please enter an integer: 1000
please enter an integer: １

In [167]:
previous_number = None
counter = 0

while counter < 10:
    try:
        user_input = float(input("数字を入力してください: "))
        if previous_number is not None and user_input >= previous_number * 2:
            print("前回の入力値の2倍以上大きな数が入力されたため、プログラムを終了します。")
            break
        previous_number = user_input
        counter += 1
    except ValueError:
        print("無効な入力です。数字を入力してください。")

print("プログラムを終了します。")

数字を入力してください:  1
数字を入力してください:  5

前回の入力値の2倍以上大きな数が入力されたため、プログラムを終了します。
プログラムを終了します。

## 関数

In [173]:
# 例題7-1
def sub(n):
    for i in range(n):
        print('#', end='')
sub(100)

####################################################################################################

In [174]:
# 例題7-2
def computeSum(x,y):
    return x + y

print(computeSum(3,5))
print(computeSum(100,200))

8
300

In [175]:
def F(n):
    if n == 1 or n == 2:
        return 1
    else:
        return F(n - 1) + F(n - 2)

print(F(5))

5

In [1]:
x = 5
while x > 0:
    print(x)
    x = x - 1

5
4
3
2
1

In [2]:
x = 10
while True:
    print(x**2)
    x = x -1
    if x <= 0:
        break

100
81
64
49
36
25
16
9
4
1

In [3]:
for x in range(1, 10, 2):
    print(x**2)

1
9
25
49
81

In [4]:
for x in range(10, 0, -1):
    print(x**2)

100
81
64
49
36
25
16
9
4
1

In [5]:
for x in range(1,6):
    for y in range(8, 17):
        print(x + y, end=' ')
    print()

9 10 11 12 13 14 15 16 17
10 11 12 13 14 15 16 17 18
11 12 13 14 15 16 17 18 19
12 13 14 15 16 17 18 19 20
13 14 15 16 17 18 19 20 21

In [8]:
# 問題5-1(1)
number = int(input('please enter th numbers:'))

for x in range(0,3,1):
    print(number)

please enter th numbers: 3

3
3
3

In [9]:
# 問題5-1(2)
number_0 = int(input('please enter th numbers:'))
number_1 = int(input('please enter th numbers:'))

for x in range(0, 3, 1):
    print(number_0 + number_1)

please enter th numbers: 1
please enter th numbers: 3

4
4
4

In [13]:
# 問題5-1(3)
price = int(input('please enter price:'))
tax_in = int(price*1.08)

for x in range(0, 3, 1):
    print(tax_in)

please enter price: 900

972
972
972

In [17]:
# 問題5-1(4)
number = int(input('please enter the number:'))

for x in range(0, 3, 1):
    print(number)
    if number == 0:
        break

please enter the number: 0

0

In [23]:
# 問題5-1(5)
number = int(input('please enter the number:'))

for x in range(0, 3, 1):
    print(number)
    if number < 0:
        print('負の数なのでループを抜けます。')
        break

please enter the number: 1

1
1
1

In [30]:
input_number = int(input('please enter the number:'))

for x in range(3):
    if input_number == 0:
        print('入力された数字は0です。')
    elif input_number % 7 == 0:
        print(f'{input_number}は7の倍数です。')
    else:
        print(f'{input_number}は7の倍数ではありません。')

please enter the number: 7

7は7の倍数です。
7は7の倍数です。
7は7の倍数です。

In [34]:
input_number = int(input('please enter the number:'))

for x in range(3):
    if input_number == 0:
        print('入力された数字は0です。')
    elif input_number % 3 == 0:
        print(f'{input_number}は3の倍数です。')
    else:
        print(f'{input_number}は3の倍数ではありません。')

please enter the number: 0

入力された数字は0です。
入力された数字は0です。
入力された数字は0です。

In [37]:
input_number = int(input('please enter the number:'))

for x in range(3):
    if input_number < 0:
        print(f'{input_number}は負の数です。')
    else:
        print(f'{input_number}は負の数ではありません。')

please enter the number: 12

12は負の数ではありません。
12は負の数ではありません。
12は負の数ではありません。

In [39]:
x = int(input('please enter the number:'))

print('The numbers entered are as follows')
for i in range(0, 3, 1):
    print(x)

please enter the number: 2

The numbers entered are as follows
2
2
2

In [41]:
x = int(input('please enter the number:'))
y = int(input('please enter the number:'))

print('Displays the sum of two input integers')
for i in range(0, 3, 1):
    print(f'{x}+{y}={x+y}')

please enter the number: 3
please enter the number: 4

Displays the sum of two input integers
3+4=7
3+4=7
3+4=7

In [44]:
price = int(input('Please enter the list price.'))
tax_in = int(price*1.08)

print('The price including tax is as follows')
for i in range(0, 3, 1):
    print(tax_in)

Please enter the list price. 2500

The price including tax is as follows
2700
2700
2700

In [52]:
x = int(input('please enter the integer==>'))

print('The following numbers were entered')
for i in range(0, 3, 1):
    if x == 0:
        print('The number entered is 0.')
        break
    else:
        print(x, end=' ')

please enter the integer==> 10

The following numbers were entered
10 10 10

In [59]:
x = int(input('please enter the integer:'))

print('the following numbers were enterd!')
for i in range(0, 3, 1):
    if x < 0:
        print('The number entered is a negative number.')
        break
    else:
        print(x, end=' ')

please enter the integer: -1

the following numbers were enterd!
The number entered is a negative number.

In [1]:
# 例題5-1
x = 5

while x > 0:
    print(x)
    x = x -1

5
4
3
2
1

In [2]:
# 例題5-2
x = 10

while True:
    print(x**2)
    x = x - 1
    if x <= 0:
        break

100
81
64
49
36
25
16
9
4
1

In [3]:
# 例題5-3
for x in range(1, 10, 2):
    print(x**2)

1
9
25
49
81

In [5]:
# 例題5-4
for x in range(10, 0, -1):
    print(x**2)

100
81
64
49
36
25
16
9
4
1

In [6]:
employee_attendance = {}  # 従業員の勤怠データを保存する辞書

while True:
    print("1. 勤怠データ入力")
    print("2. 勤怠データ表示")
    print("3. 終了")
    choice = input("選択してください: ")

    if choice == "1":
        employee_id = input("従業員IDを入力: ")
        if employee_id not in employee_attendance:
            employee_attendance[employee_id] = []

        in_time = input("出勤時間を入力 (HH:MM): ")
        out_time = input("退勤時間を入力 (HH:MM): ")
        entry = {"入社時間": in_time, "退社時間": out_time}
        employee_attendance[employee_id].append(entry)

    elif choice == "2":
        employee_id = input("従業員IDを入力: ")
        if employee_id in employee_attendance:
            for entry in employee_attendance[employee_id]:
                print(f"入社時間: {entry['入社時間']}, 退社時間: {entry['退社時間']}")
        else:
            print("従業員IDが見つかりません。")

    elif choice == "3":
        break

1. 勤怠データ入力
2. 勤怠データ表示
3. 終了

選択してください:  1
従業員IDを入力:  3121
出勤時間を入力 (HH:MM):  1922
退勤時間を入力 (HH:MM):  1922

1. 勤怠データ入力
2. 勤怠データ表示
3. 終了

選択してください:  3

In [10]:
for x in range(1,5):
    for y in range(8,16):
        print(x + y ,end=' ')
    print()

9 10 11 12 13 14 15 16
10 11 12 13 14 15 16 17
11 12 13 14 15 16 17 18
12 13 14 15 16 17 18 19

In [13]:
# 問題5-1
#(1)入力した数を表示するという作業を、3回繰り返すプログラムを作れ
x = int(input('please enter the number'))

for y in range(1,4):
    print(x, end=' ')

please enter the number 4

4 4 4

In [17]:
# (2) Create a program that repeats the process of "displaying the sum of two input integers" three times.
x = int(input('please enter the number'))
y = int(input('please enter the number'))

print('The totals are as follows')
for i in range(1,4):
    print(f'{x}+{y}={x+y}', end=' ')

print('\nTerminates the loop')

please enter the number 2
please enter the number 3

The totals are as follows
2+3=5 2+3=5 2+3=5
Terminates the loop

In [23]:
# (3) Create a program that repeats the process of "displaying the tax-inclusive price of the entered list price 
# (the consumption tax is 8% and the half amount is rounded down)" three times.
price = int(input('Please enter the list price.'))
print('\n')
for i in range(1,4):
    print(f'The price including tax is {int(price*1.08)}!')
print('\nThank you for your purchase!')

Please enter the list price. 22

The price including tax is 23!
The price including tax is 23!
The price including tax is 23!

Thank you for your purchase!

In [4]:
x = int(input('please enter a integer!'))

if x < 10:
    print('The number entered is a number less than or equal to 10')
else:
    print('The number entered is a number greater than or equal to 10')

please enter a integer! 12

The number entered is a number greater than or equal to 10

In [5]:
x = int(input('Please enter an integer!'))

if x + 25000 == 3500 * 9:
    print('OK')
else:
    print('BOO')

Please enter an integer! 23

BOO

In [ ]:
# Enter a number and convert it to an int type
x = int(input('Please enter an integer!'))

if x > 0: # If the input number is an integer, the following processing is performed
    print('Positieve')
    if x >= 100: # If over 100, the following message is displayed
        print('Numbers entered must be greater than or equal to 100')
    elif x < 100: # If less than 100, the following message is displayed
        print('Number entered is less than 100')
elif x == 0: # If 0, evaluate the following
    print('The number entered is 0.')
else: # If negative, display the following
    print('negative')

In [10]:
# Have them enter a number.
x = int(input('please enter an integer:'))

if x < 0 or x >= 100:
    print('The number entered is out of range.')
else:
    print('OK')

please enter an integer: 99

OK

In [13]:
x = int(input('please enter an integer!'))

if x < 0 or x >= 100:
    print('out of scope.')
else:
    print('OK')

please enter an integer! 10

OK

In [15]:
# (1)
x = int(input('please enter an integer!'))

if x == 0:
    print('zero')
else:
    print('Not zero.')

please enter an integer! 0

zero

In [20]:
# (2)
x = int(input('please enter an integer!'))

if x >= 100:
    print('OK')
else:
    print('Boo')

please enter an integer! 10

Boo

In [26]:
# (3)
x = int(input('please enter an integer!'))

if x >= 0:
    print('positieve')
else:
    print('negatieve')

please enter an integer! 30

positieve

In [28]:
# (4)
x = int(input('please enter an integer!'))
y = int(input('please enter an integer!'))

if x == y:
    print('equal')
else:
    print('not equal')

please enter an integer! 1
please enter an integer! 2

not equal

In [32]:
# (1)

x = int(input('please enter an integer!'))

if x >= 10:
    if x == 10:
        print('The number entered is 10.')
    else:
        print('The number entered is 10 or more.')
else:
    print('The number entered is less than 10.')

please enter an integer! 1

The number entered is less than 10.

In [35]:
# (2)

x = int(input('please enter an integer!'))

if x == 1:
    print(x)
elif x == 2:
    print(x)
else:
    print('etc')

please enter an integer! 10

etc

In [40]:
x = int(input("Please enter an integer:"))
if x < 0:
    print('negatieve')
elif x == 0:
    print('zero')
elif x >= 100:
    print('100以上')
elif x <= 100:
    print('100未満')

Please enter an integer: 200

100以上

In [43]:
x = int(input('please enter an integer'))
y = int(input('please enter an integer'))

if y <= x:
    print( x - y )
elif y > x:
    print('負になります。')

please enter an integer 10
please enter an integer 11

負になります。

In [5]:
x = int(input('please enter an integer!'))

if x == 1:
    print('(>_<)')
elif x == 2:
    print('⌒▽⌒"')
elif x == 3:
    print('^_^')

please enter an integer! 1

(>_<)

In [1]:
1 + 1

2

In [2]:
1 + 1

2

In [8]:
import pandas as pd

AttributeError: 'int' object has no attribute 'info'

In [11]:
# 問題4-1(1)
x = int(input('please enter an integer'))

if x == 0:
    print('zero')
else:
    print('BOO')

please enter an integer 1

BOO

In [13]:
# 問題4-1(2)
x = int(input('please enter an integer'))

if x >= 100:
    print('OK')
else:
    print('Boo')

please enter an integer 100

OK

In [17]:
# 問題4-1(3)
x = int(input('please enter an integer'))

if x >= 0:
    print('positive')
else:
    print('negative')

please enter an integer -1

negative

In [21]:
# 問題4-1(4)
x = int(input('please enter an integer'))
y = int(input('please enter an integer'))

if x == y:
    print('equal')
else:
    print('not equal')

please enter an integer 1
please enter an integer 1

equal

In [24]:
# 問題4-2 (1)入力した数が10か10より大きいか10未満かを判定するプログラムを作れ
x = int(input('please enter an integer'))

if x == 10:
    print('入力された数は10です。')
elif x >= 10:
    print('入力された数は10以上です。')
else:
    print('入力された数は10未満です')

please enter an integer 9

入力された数は10未満です

In [27]:
# 問題4-2 (2)入力した数が1なら1，2なら2，それ以外ならetcと表示せよ
x = int(input('please enter an integer'))

if x == 1:
    print(x)
elif x == 2:
    print(x)
else:
    print('etc')

please enter an integer 3

etc

In [31]:
# 問題4-3 キーボードから2つの数xとyを入力し、yがx以下ならx-yを表示し、yがxより大きければ負になりますと表示するプログラムを書け
x = int(input('please enter an integer'))
y = int(input('please enter an integer'))

if y <= x:
    print(x - y)
elif y > x:
    print('負になります')

please enter an integer -10
please enter an integer 1

負になります

In [38]:
# 問題4-5 キーボードから数値をxに入力し，ifを使って，xが偶数なら Even，奇数なら Odd と表示させるプログラムを作れ
x = int(input('please enter an integer'))

if x % 2 == 0:
    print('Even')
else:
    print('Odd')

please enter an integer 2000

Even

In [45]:
# 問題4-6 キーボードから入力した数が10以上20以下であればOKと表示するプログラムを作れ．
x = int(input('please enter an integer'))

if x >= 10 and x <= 20:
    print('OK')
else:
    print('Boo')

please enter an integer 0

Boo

In [50]:
# 問題4-7 文字で作った絵を2つ作ってみよう． そして，キーボードから入力した数が10 以上20 以下なら1つ目の絵を，50以上60以下なら2つ目の絵を表示するプログラムを作れ．
a = '&&&'
b = '%%%'

x = int(input('please enter an integer==>'))

if x >= 10 and x <= 20:
    print(a)
elif x >= 50 and x <= 60:
    print(b)
else:
    print('Boo')

please enter an integer==> 60

%%%

In [51]:
x = 5
while x > 0:
    print(x)
    x = x -1

5
4
3
2
1

In [52]:
x = 10
while True:
    print(x**2)
    x = x -1
    if x <= 0:
        break

100
81
64
49
36
25
16
9
4
1

In [53]:
for x in range(1, 10, 2):
    print(x**2)

1
9
25
49
81

# データ解析パッケージpandas

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('http://logopt.com/data/iris.data', names=['がく片長', 'がく片','花びら長', '花びら幅', '種類'])

In [4]:
df.head()

   がく片長  がく片  花びら長  花びら幅           種類
0   5.1  3.5   1.4   0.2  Iris-setosa
1   4.9  3.0   1.4   0.2  Iris-setosa
2   4.7  3.2   1.3   0.2  Iris-setosa
3   4.6  3.1   1.5   0.2  Iris-setosa
4   5.0  3.6   1.4   0.2  Iris-setosa

In [5]:
df.tail()

     がく片長  がく片  花びら長  花びら幅              種類
145   6.7  3.0   5.2   2.3  Iris-virginica
146   6.3  2.5   5.0   1.9  Iris-virginica
147   6.5  3.0   5.2   2.0  Iris-virginica
148   6.2  3.4   5.4   2.3  Iris-virginica
149   5.9  3.0   5.1   1.8  Iris-virginica

In [6]:
ufo = pd.read_csv('http://logopt.com/data/ufo.csv')

In [7]:
ufo.head()

,Unnamed: 0,City,Colors Reported,Shape Reported,State,Time
0,0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00

In [8]:
ufo.tail()

,Unnamed: 0,City,Colors Reported,Shape Reported,State,Time
18236,18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [9]:
wine = pd.read_csv('http://logopt.com/data/wine.data', names=['Alcohol', 'Malic','Ash', 'Alcalinity', 'Magnesium', 'Phenols', 'Flavanoids', 'Nonflavanoid', 'Proanthocyanins', 'Color', 'Hue', 'OD280', 'OD315', 'Proline'])

In [10]:
wine.tail()

,Alcohol,Malic,Ash,Alcalinity,Magnesium,Phenols,Flavanoids,Nonflavanoid,Proanthocyanins,Color,Hue,OD280,OD315,Proline
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.7,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.3,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.2,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.3,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.2,0.61,1.60,560

In [11]:
wine.head()

,Alcohol,Malic,Ash,Alcalinity,Magnesium,Phenols,Flavanoids,Nonflavanoid,Proanthocyanins,Color,Hue,OD280,OD315,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [12]:
game = pd.read_csv('http://logopt.com/data/vgsales.csv')

In [13]:
game.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [14]:
game.tail()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.0,0.0,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.0,0.0,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.0,0.0,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.0,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.0,0.0,0.01

In [15]:
car = pd.read_csv('http://logopt.com/data/auto-mpg.data', delim_whitespace=True, names=['mpg', 'cylinders', 'displacement', 'horsepower','weight', 'acceleration','year','origin', 'name'])

In [16]:
car.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [17]:
car.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10